{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "arrowParens": "avoid",
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
